<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWSProfileName" value="default"/>
    <add key="AWSRegion" value="us-west-2" />
    <add key="MetricPeriod" value ="300"/>
    <add key="MetricNamespaces" value="AWS/EC2;System/Linux"/>
    <!--<add key="EC2Metrics" value="CPUCreditUsage;CPUCreditBalance;CPUUtilization;DiskReadOps;DiskWriteOps;DiskReadBytes;DiskWriteBytes;NetworkIn;NetworkOut;StatusCheckFailed;StatusCheckFailed_Instance;StatusCheckFailed_System;"/>-->
    <add key="EC2Metrics" value="CPUUtilization;DiskReadOps;NetworkIn;MemoryUtilization;DiskSpaceUtilization"/>
    <add key="CPUUtilizationStatisticTypes" value="Minimum;Maximum;Average"/>
    <add key="CPUUtilizationMetricUnit" value="Percent"/>
    <add key="DiskReadOpsStatisticTypes" value="Minimum;Maximum;Average;Sum"/>
    <add key="DiskReadOpsMetricUnit" value="Count"/>
    <add key="NetworkInStatisticTypes" value="Minimum;Maximum;Average;Sum;SampleCount"/>
    <add key="NetworkInMetricUnit" value="Bytes"/>
    <add key="MemoryUtilizationStatisticTypes" value="Minimum;Maximum;Average"/>
    <add key="MemoryUtilizationMetricUnit" value="Percent"/>
    <add key="DiskSpaceUtilizationStatisticTypes" value="Minimum;Maximum;Average"/>
    <add key="DiskSpaceUtilizationMetricUnit" value="Percent"/>
  </appSettings>
</configuration>